:root {
  --font-family: "Roboto Flex", sans-serif;
  --titlefont-family: "Merriweather", serif;
  --title-color: #1F160A;
  --font-color: #505050;
  --background-color: #F1EFE4;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
}
.Main__Article{
  margin: 50px 40px 50px;
  text-align: left;
}